<style>
    .container {
        padding-top: 100px;
    }
</style>

<div class="card-body container">
    <div class="row">
        <div class="col-sm-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="/public/img/logo.png" alt="{{ProName}}">
                <div class="card-body">
                    <h5 class="card-title">Bút Chì</h5>
                    <h5 class="card-title text-danger">1,000,000đ</h5>
                    <p class="card-text">Sản phẩm đến từ tương lai</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-primary" href="/products/detail/{{ProID}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="/public/img/logo.png" alt="{{ProName}}">
                <div class="card-body">
                    <h5 class="card-title">Bút Chì</h5>
                    <h5 class="card-title text-danger">1,000,000đ</h5>
                    <p class="card-text">Sản phẩm đến từ tương lai</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-primary" href="/products/detail/{{ProID}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="/public/img/logo.png" alt="{{ProName}}">
                <div class="card-body">
                    <h5 class="card-title">Bút Chì</h5>
                    <h5 class="card-title text-danger">1,000,000đ</h5>
                    <p class="card-text">Sản phẩm đến từ tương lai</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-primary" href="/products/detail/{{ProID}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="/public/img/logo.png" alt="{{ProName}}">
                <div class="card-body">
                    <h5 class="card-title">Bút Chì</h5>
                    <h5 class="card-title text-danger">1,000,000đ</h5>
                    <p class="card-text">Sản phẩm đến từ tương lai</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-primary" href="/products/detail/{{ProID}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>